.FooterInfo {
  --padding: 0.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 200ms ease;
}
.FooterInfo:hover {
  transform: scaleX(1.05) translateX(calc(-1 * var(--padding)))
    translateY(calc(-1 * var(--padding)));
}

.FooterInfoTextWrapper {
  position: relative;
}
.FooterInfoText {
  font-size: 0.5rem;
  color: var(--primary_light);
  background-color: var(--primary_dark);
  border-left: var(--padding) solid var(--primary_highlight);
  border-bottom: var(--padding) solid var(--primary_highlight);
}
.FooterInfo:hover .FooterInfoText {
  color: var(--primary_highlight);
  border-left: var(--padding) solid var(--primary_light);
  border-bottom: var(--padding) solid var(--primary_light);
}
.InfoButton {
  color: var(--primary_highlight);
  font-size: 1rem;
  padding-left: 0.25rem;
}
