:root {
  --primary_dark_rgb: 35, 30, 35;
  --primary_dark: rgb(var(--primary_dark_rgb));
  --primary_light_rgb: 246, 246, 246;
  --primary_light: rgb(var(--primary_light_rgb));
  --primary_highlight_rgb: 199, 255, 216;
  --primary_highlight: rgb(var(--primary_highlight_rgb));
  --secondary_highlight_rgb: 152, 222, 217;
  --secondary_highlight: rgb(var(--secondary_highlight_rgb));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--primary_dark);
}
::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: var(--primary_highlight);
}

.Grow {
  flex-grow: 1;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--primary_dark);
}

.Header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
  background-color: var(--primary_dark);
  z-index: 10;
}

.Content {
  flex-grow: 1;
  position: relative;
  top: -2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0rem 0.5rem 0rem 0.5rem;
}

.PageSection {
  display: grid;
  place-content: center;
  height: 100vh;
}
.Footer {
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.01rem 0.5rem 0.5rem 0.5rem;
  color: var(--primary_light);
}
.TitleWrapper {
  position: relative;
  flex-grow: 1;
  height: 3rem;
}
.Title {
  font-size: 1.5rem;
  color: var(--primary_highlight);
}
