:root {
  --primary_dark_rgb: 35, 30, 35;
  --primary_dark: rgb(var(--primary_dark_rgb));
  --primary_light_rgb: 246, 246, 246;
  --primary_light: rgb(var(--primary_light_rgb));
  --primary_highlight_rgb: 199, 255, 216;
  --primary_highlight: rgb(var(--primary_highlight_rgb));
  --secondary_highlight_rgb: 152, 222, 217;
  --secondary_highlight: rgb(var(--secondary_highlight_rgb));
  --padding: 0.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: var(--primary_dark);
}
::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background: var(--primary_highlight);
}

.Grow {
  flex-grow: 1;
}

.Row {
  display: flex;
  flex-direction: row;
}
.RowCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--primary_dark);
}

.Header {
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
  background-color: var(--primary_dark);
  z-index: 10;
}

.Content {
  flex-grow: 1;
  position: relative;
  top: -2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0rem 25rem 0rem 25rem;
}
.AppContent-divider {
  color: var(--primary_highlight);
  border-bottom: 1px solid var(--primary_highlight);
}
@media only screen and (max-width: 2000px) {
  .Content {
    padding: 0rem 15rem 0rem 15rem;
  }
}
@media only screen and (max-width: 1500px) {
  .Content {
    padding: 0rem 10rem 0rem 10rem;
  }
}
@media only screen and (max-width: 1200px) {
  .Content {
    padding: 0rem 6rem 0rem 6rem;
  }
}
@media only screen and (max-width: 900px) {
  .Content {
    padding: 0rem 0.75rem 0rem 0.75rem;
  }
}

.PageSection {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.PageListSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.Footer {
  position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.01rem 0.5rem 0.5rem 0.5rem;
  color: var(--primary_light);
}
.TitleWrapper {
  position: relative;
  flex-grow: 1;
  height: 3rem;
}
.Title {
  font-size: 1.5rem;
  color: var(--primary_highlight);
}
.SubTitle {
  font-size: 0.75rem;
  color: var(--primary_highlight);
}

/* Card */

.CardWrapper {
  position: relative;
}
.CardShadow {
  position: absolute;
  position: absolute;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  top: var(--padding);
  left: calc(-1 * var(--padding));
  bottom: calc(-1 * var(--padding));
  right: 0;
  transition: transform 200ms ease;
}
.CardWrapper:hover .CardShadow {
  transform: scale(1.05) translateX(calc(-1 * var(--padding)))
    translateY(var(--padding));
}

.Card {
  width: 30rem;
  min-height: 20rem;
  padding: var(--padding) var(--padding) var(--padding) var(--padding);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: transform 200ms ease;
  display: flex;
  flex-direction: column;
  background: rgba(var(--primary_light_rgb), 0.8);
}
@media only screen and (max-width: 900px) {
  .Card {
    width: 70vw;
  }
}
.Card:hover {
  transform: scale(1.01);
}

.CardHeader {
  display: inline-block;
  position: relative;
  transition: transform 200ms ease;
}
.CardHeader::after {
  content: "";
  background: var(--primary_highlight);
  width: calc(100% + var(--padding));
  height: 5px;
  position: absolute;
  bottom: -0.25rem;
  left: calc(-1 * var(--padding));
  transform: scale(0);
  transform-origin: left;
  transition: transform 200ms ease;
}

.Card:hover .CardHeader::after {
  transform: scale(1);
}
.CardContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* About Me link button */

.AboutMeLinkWrapper {
  display: grid;
  place-content: center;
  flex-grow: 1;
}
.AboutMeLinkIconWrapper {
  padding: 0rem var(--padding) 0rem var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AboutMeLinkIconButton {
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 2px;
  width: 3rem;
  height: 3rem;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--primary_highlight);
  transition: transform 200ms ease, border 200ms ease;
}
.AboutMeLinkIconButton:hover {
  transform: scale(1.2);
  border: 2px solid var(--primary_highlight);
}
.AboutMeLinkIconButton:active {
  transform: scale(1.1);
  border: 2px solid transparent;
}
.AboutMeLinkIcon {
  font-size: 1.5rem;
}
.AboutMeLinkIconTooltip {
  position: relative;
  top: -2.5rem;
  font-size: 0.8rem;
  opacity: 0;
  transition: transform 100ms ease, ease-in 200ms;
}
.AboutMeLinkIconWrapper:hover .AboutMeLinkIconTooltip {
  opacity: 1;
  transform: translateY(2rem);
}

/* Project/Experience Cards */

.ExperienceDescription {
  color: var(--primary_light);
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
}
.ExperienceDate {
  text-align: right;
  white-space: nowrap;
}
.ExperienceCard {
  position: relative;
  transition: transform 200ms ease;
  display: inline-block;
  width: 100%;
}
.ExperienceCard::before {
  content: "";
  background: var(--primary_highlight);
  position: absolute;
  height: 100%;
  width: 5px;
  bottom: 0px;
  left: calc(-1 * var(--padding));
  transform: scale(0);
  transform-origin: left;
  transition: transform 200ms ease;
}

.ExperienceCard:hover.ExperienceCard::before {
  transform: scale(1);
}

/* Experience Link Icons */

.ExperienceLinkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ExperienceLinkIconButton {
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 2px;
  width: 2rem;
  height: 2rem;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--primary_highlight);
  transition: transform 200ms ease, border 200ms ease;
}
.ExperienceLinkIconButton:hover {
  transform: scale(1.2);
  border: 2px solid var(--primary_highlight);
}
.ExperienceLinkIconButton:active {
  transform: scale(1.1);
  border: 2px solid transparent;
}

.ExperienceLinkIconWrapper {
  padding: 0rem 0rem 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.ExperienceLinkIcon {
  font-size: 1rem;
}
.ExperienceLinkIconTooltip {
  position: absolute;
  top: 0rem;
  font-size: 0.8rem;
  opacity: 0;
  transition: transform 100ms ease, ease-in 200ms;
  color: var(--primary_light);
  white-space: nowrap;
}
.ExperienceLinkIconWrapper:hover .ExperienceLinkIconTooltip {
  opacity: 1;
  transform: translateY(1.5rem);
}

.DevPostIcon {
  transform: scale(1.4);
}

/* Contact Me */

.ContactMeField {
  margin-bottom: 1rem;
}
.ContactMeButton {
  align-self: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
  background: rgba(0, 0, 0, 0);
  color: var(--primary_dark);
  transition: transform 200ms ease, border 200ms ease, color 200ms ease;
  font-size: 1rem;
}
.ContactMeButton:hover {
  transform: scale(1.2);

  border: 2px solid var(--primary_highlight);
}
.ContactMeButton:hover .ContactMeIcon {
  color: var(--primary_highlight);
}
.ContactMeButton:active {
  transform: scale(1.1);
  border: 2px solid transparent;
}
.ContactMeIcon {
  margin-left: 5px;
  font-size: 1rem;
}
.ContactMe-field {
  border: none;
  width: 100%;
}
