:root {
  --primary_dark_rgb: 35, 30, 35;
  --primary_dark: rgb(var(--primary_dark_rgb));
  --primary_light_rgb: 246, 246, 246;
  --primary_light: rgb(var(--primary_light_rgb));
  --primary_highlight_rgb: 199, 255, 216;
  --primary_highlight: rgb(var(--primary_highlight_rgb));
  --secondary_highlight_rgb: 152, 222, 217;
  --secondary_highlight: rgb(var(--secondary_highlight_rgb));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
}

.Grow {
  flex-grow: 1;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: 60px 60px;
  background-image: radial-gradient(
    circle,
    var(--primary_highlight) 1px,
    var(--primary_dark) 1px
  );
}

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0rem 0.75rem 0.01rem 0.75rem;
  background-color: var(--primary_dark);
}
.Content {
  flex-grow: 1;
  display: grid;
  place-content: center;
  padding: 0rem 0.5rem 0rem 0.5rem;
}
.Footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.01rem 0.5rem 0.5rem 0.5rem;
  color: var(--primary_light);
}
.TitleWrapper {
  position: relative;
  flex-grow: 1;
  height: 3rem;
}
.Title {
  font-size: 1.5rem;
  color: var(--primary_light);
}
